*,
html{
    margin: 0;
    padding: 0;
}
.main{
	display: flex;
	background-color: #00704A;
	gap: 20px;
	color: #ffffff;
}
.mainBeranda{
	display: flex;
	background-color: #00704A;
	gap: 10px;
	color: #ffffff;
}
.starbucksBanner{
	img{
		max-width: 600px;
		max-height: 500px;
	}
	padding: 25px;
}
#prd1:hover{
	text-decoration: underline;
}
#prd2:hover{
	text-decoration: underline;
}
#prd3:hover{
	text-decoration: underline;
}
#prd4:hover{
	text-decoration: underline;
}
#prd5:hover{
	text-decoration: underline;
}
.mainPortofolio{
	background-color: #00704A;
	color: #ffffff;
	padding: 25px;
}
.mainProduk{
		display: flex;
		flex-direction: column;
		padding: 25px;

}
.allProduk{
	display: flex;
	flex-direction: column;
}
.prdk{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.portofolio{
	a{
		text-decoration: none;
		color: #ffffff;
	}
}
#port1:hover{
	text-decoration: underline;
}
#port2:hover{
	text-decoration: underline;
}
#port3:hover{
	text-decoration: underline;
}
#port4:hover{
	text-decoration: underline;
}
#port5:hover{
	text-decoration: underline;
}
.story{
	padding: 25px;
	font-size: 20px;
}
.produk{
	a{
		text-decoration: none;
		color: #ffffff;
	}
	h1{
		color: #ffffff;
	}
	margin-left: 40px;
}
.navigation{
	display: flex;
	gap: 10px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-top: 5px;
	align-items:center;
	a{
		text-decoration: none;
		color: #000000;
	}
}
.navbar{
		list-style-type: none;
    	padding: 10px;
    	margin: 5px;
   		font-size: 15px;
	}
.navbar:hover{
		background-color: #000000;
		a{
			color: #ffffff;
		}
		border-radius: 25px;
		transition: .2s ease-in-out ;
    	transition-delay: .1s;
	}
.starbucksBrand{
	img{
		max-width: 50px;
		max-height: 50px;
		}
	}

